
.wrap {
  padding: 0 100px;
}

.card {
  position: relative;
  min-width: 500px;
  min-height: 130px;
  background: #0e0b09;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.card__default, .card__error, .card__warning, .card__info, .card__success {
  width: 500px;
}


.card__warning {
  background: #e8c07e;
}

.card__error {
  background: #c28484;
}

.card__success {
  background: #bbcc96;
}

.card__info {
  background: #9dbac3;
}

.notice {
  width: 130px;
  height: 75px;
  display: block;
  margin-right: 20px;
}

.notice_warning {
  background: url("../../pages/assets/images/noticeWarning.png") no-repeat;
}

.notice_info {
  background: url("../../pages/assets/images/noticeInfo.png") no-repeat;
}

.notice_success {
  background: url("../../pages/assets/images/noticeSuccess.png") no-repeat;
}

.notice_error {
  background: url("../../pages/assets/images/noticeError.png") no-repeat;
}

.card__text h2 {
  margin: 0 0 5px;
  font-size: 25px;
  font-family: Linux Libertine, serif;
  font-weight: 800;
}

.card__text p {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


.border {
  display: flex;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(top, #101115, #1d2226);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#101115), to(#1d2226));
  background: -webkit-linear-gradient(top, #101115, #1d2226);
  background: -moz-linear-gradient(top, #101115, #1d2226);
  background: -o-linear-gradient(top, #101115, #1d2226);
  background: -ms-linear-gradient(top, #101115, #1d2226);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=' #101115', endColorstr='#1d2226', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=' #101115',endColorstr='#1d2226')";
}

.border_bottom {
  bottom: -10px;
  top: auto;
}

.border_vertical {
  top: 10px;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(bottom, #101115, #1d2226);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d2226), to(#101115));
  background: -webkit-linear-gradient(bottom, #101115, #1d2226);
  background: -moz-linear-gradient(bottom, #101115, #1d2226);
  background: -o-linear-gradient(bottom, #101115, #1d2226);
  background: -ms-linear-gradient(bottom, #101115, #1d2226);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d2226', endColorstr='#101115', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=' #1d2226',endColorstr='#101115')";
}

.border_vertical-right {
  right: 0;
  left: auto;
  background: linear-gradient(bottom, #101115, #1d2226);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d2226), to(#101115));
  background: -webkit-linear-gradient(bottom, #101115, #1d2226);
  background: -moz-linear-gradient(bottom, #101115, #1d2226);
  background: -o-linear-gradient(bottom, #101115, #1d2226);
  background: -ms-linear-gradient(bottom, #101115, #1d2226);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d2226', endColorstr='#101115', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=' #1d2226',endColorstr='#101115')";
}

.border_vertical:after {
  display: none;
}

.border-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 9px;
  z-index: 50;
  background: linear-gradient(bottom, #69726f, #44484b, #2c3033);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#69726f), to(#101115));
  background: -webkit-linear-gradient(bottom, #69726f, #44484b, #2c3033);
  background: -moz-linear-gradient(bottom, #69726f, #44484b, #2c3033);
  background: -o-linear-gradient(bottom, #69726f, #44484b, #2c3033);
  background: -ms-linear-gradient(bottom, #69726f, #44484b, #2c3033);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#69726f', endColorstr=' #2c3033)', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=' #69726f',endColorstr=' #2c3033)')";
}

.border-overlay_bottom {
  top: 100%;
  background: linear-gradient(bottom, #2c3033, #44484b, #69726f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2c3033), to(#101115));
  background: -webkit-linear-gradient(bottom, #2c3033, #44484b, #69726f);
  background: -moz-linear-gradient(bottom, #2c3033, #44484b, #69726f);
  background: -o-linear-gradient(bottom, #2c3033, #44484b, #69726f);
  background: -ms-linear-gradient(bottom, #2c3033, #44484b, #69726f);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2c3033', endColorstr=' #69726f)', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=' #2c3033',endColorstr=' #69726f)')";
}

.border-overlay_left {
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(left, #2c3033 #2c3033, #44484b, #69726f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2c3033), to(#101115));
  background: -webkit-linear-gradient(left, #2c3033, #2c3033, #44484b, #69726f);
  background: -moz-linear-gradient(left, #2c3033, #2c3033, #44484b, #69726f);
  background: -o-linear-gradient(left, #2c3033, #2c3033, #44484b, #69726f);
  background: -ms-linear-gradient(left, #2c3033, #2c3033, #44484b, #69726f);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2c3033', endColorstr=' #69726f)', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=' #2c3033',endColorstr=' #69726f)')";
}

.border-overlay_right {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}

.corner_default {
  display: block;
  z-index: 100;
  position: absolute;
  width: 100px;
  height: 100px;
}

.corner_default-top-left {
  top: -11px;
  left: -22px;
}

.corner_default-bottom-right {
  transform: scale(-1, -1);
}

.corner_default-bottom-left {
  transform: scaleY(-1);
}

.corner_arrow {
  background: url("../../pages/assets/images/arrow.png") no-repeat;
}

.corner_arrow-bottom-left {
  bottom: -21px;
  left: -21px;
}

.corner_arrow-bottom-right {
  right: -21px;
  bottom: -21px;
}

.corner_arrow-bottom-right {
  bottom: -21px;
}

.corner_leaf {
  background: url("../../pages/assets/images/leaf.png") no-repeat;
  left: -10px;
}

.corner_leaf-bottom-left {
  bottom: -23px;
}

.corner_leaf-bottom-right {
  bottom: -23px;
  right: -13px;
  left: auto;
}

.corner_wood {
  background: url("../../pages/assets/images/wood.png") no-repeat;
  top: -5px;
  left: -6px;
}

.corner_wood-bottom-left {
  top: auto;
  bottom: -14px;
}

.corner_wood-bottom-right {
  top: auto;
  left: auto;
  right: -6px;
  bottom: -14px;
}

.corner_metal {
  background: url("../../pages/assets/images/metal.png") no-repeat;
  left: -50px;
  top: -10px;
}

.corner_metal-bottom-left {
  top: auto;
  bottom: -22px;
}

.corner_metal-bottom-right {
  left: auto;
  top: auto;
  bottom: -22px;
  right: -55px
}

.close {
  background: url("../../pages/assets/images/close.png") no-repeat;
  display: block;
  z-index: 300;
  position: absolute;
  width: 100px;
  height: 100px;
  right: -66px;
  top: -8px;
  cursor: pointer;
}

.corner {
  background: url("../../pages/assets/images/corner.png") no-repeat;
  position: absolute;
  width: 11px;
  height: 15px;
  right: 0;
  top: 0;
  z-index: 150;
}

.corner_top-left {
  left: 2px;
  top: -2px;
  transform: rotate(-90deg);
}

.corner_bottom-left {
  top: auto;
  bottom: -10px;
  transform: rotate(-180deg);
  left: 0;
}

.corner_bottom-right {
  top: auto;
  bottom: -12px;
  right: 2px;
  transform: rotate(90deg);
}

.avatar__wrap {
  width: 220px;
  height: 220px;
  display: flex;
  background: url("../../pages/assets/images/avatarWrap.png") no-repeat center;
  z-index: 2;
}

.avatar {
  background: url("../../pages/assets/images/avatar.png") no-repeat center;
  width: inherit;
  height: inherit;
  z-index: 2;
}

.stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 35px;
  left: 185px;
}

.stats_inverse {
  left: -95px;
}

.progress {
  position: relative;
  overflow: hidden;
  background: #13100d;
  height: 45px;
  border-radius: 10px;
  border: 5px solid #493026;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

.progress:not(:last-child) {
  margin-bottom: 4px;
}

.progress_life {
  width: 365px;
  margin-bottom: 5px !important;
}

.progress_mana, .progress_exp {
  width: 350px;
}


.progress progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

.progress-bar {
  background: #070707;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar_life {
  background: #ff999a;
  background: -moz-linear-gradient(top, #ff999a 0%, #ff494c 50%, #ff3538 51%, #c90808 100%);
  background: -webkit-linear-gradient(top, #ff999a 0%, #ff494c 50%, #ff3538 51%, #c90808 100%);
  background: linear-gradient(to bottom, #ff999a 0%, #ff494c 50%, #ff3538 51%, #c90808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999a', endColorstr='#c90808',GradientType=0);
}

.progress-bar_mana {
  background: #99d6ff;
  background: -moz-linear-gradient(top, #99d6ff 0%, #335bb2 50%, #2b5fc6 51%, #042870 100%);
  background: -webkit-linear-gradient(top, #99d6ff 0%, #335bb2 50%, #2b5fc6 51%, #042870 100%);
  background: linear-gradient(to bottom, #99d6ff 0%, #335bb2 50%, #2b5fc6 51%, #042870 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99d6ff', endColorstr='#042870',GradientType=0);
}

.progress-bar_exp {
  background: #b4e391;
  background: -moz-linear-gradient(top, #b4e391 0%, #469313 50%, #2d7716 100%);
  background: -webkit-linear-gradient(top, #b4e391 0%, #469313 50%, #2d7716 100%);
  background: linear-gradient(to bottom, #b4e391 0%, #469313 50%, #2d7716 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4e391', endColorstr='#2d7716',GradientType=0);


}

.progress-bar_xp {
  background: #b4e391;
  background: -moz-linear-gradient(top, #b4e391 10%, #a3d130 50%, #2d7716 100%);
  background: -webkit-linear-gradient(top, #b4e391 10%, #a3d130 50%, #2d7716 100%);
  background: linear-gradient(to bottom, #b4e391 10%, #a3d130 50%, #2d7716 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4e391', endColorstr='#2d7716',GradientType=0);
}

.progress-value {
  color: #fffefe;
  font-size: 18px;
  font-family: Linux Libertine, serif;
  font-weight: 800;
  display: block;
  line-height: 21px;
  text-align: center;
  position: absolute;
  z-index: 50;
  left: 60px;
}

.progress-value_xp {
  width: 100%;
  position: static;
  color: #c2aa97;
}

.progress-bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 45px !important;
  height: 25px;
  display: flex;
  background: #070707;
  border: 1px solid #493026;
  box-sizing: border-box;
  border-radius: 5px;
}

.progress-bar {
  transition: width 0.2s linear;
}

.progress-bg_inverse {
  margin: 0 50px 0 0 !important;
}

.progress-bg_xp {
  margin: 0 !important;
  height: 10px;
}

.progress_xp-num {
  min-width: 125px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  overflow: inherit;
}

.progress_xp-scale {
  width: 740px;
}

.progress_xp-num, .progress_xp-scale {
  border-radius: 5px;
  height: 40px;
}


.character-stats {
  position: relative;
  display: flex;
  width: fit-content;
  margin: auto;
}
.character-stats_inverse{
  flex-direction: row-reverse;
}

.character-info {
  display: flex;
  margin-left: 20px;
}

.character-info_inverse {
  margin: 0;
}

.nickname, .class, .role, .progress_xp-num p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: Linux Libertine, serif;
  font-weight: 800;
  color: #c2aa97;
}

.nickname, .class {
  margin-right: 10px;
}

.spells-bar {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 20px 13px;
  margin-left: auto;
  width: 78%;
}

.spells-bar__wrap {
  width: 78px;
  height: 78px;
  z-index: 2;
  position: absolute;
  background: #323638;
  top: -4px;
  left: -4px;
}

.spells-bar__item {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}

.spells__icon {
  background: #000000;
  width: 68px;
  height: 68px;
  z-index: 3;
  position: absolute;
  border: 1px solid #9f6d37;
  cursor: pointer;
}

.spells__number {
  position: absolute;
  background: url("../../pages/assets/images/spellNumber.png") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  top: -15px;
  left: 28%;
  font-family: Linux Libertine, serif;
  font-size: 14px;
  color: #c2aa97;
  font-weight: 800;
  z-index: 10;
}

.xp-window {
  position: absolute;
  top: -33px;
  display: flex;
  right: 20px;
}

.new-xp-points {
  color: #41d313;
  font-size: 16px;
  font-family: Linux Libertine, serif;
  font-weight: 800;
  position: absolute;
  top: -11px;
  animation-duration: 3s;
  animation-name: animateExpFrames;
}

.margin {
  margin-bottom: 80px;
}


.hidden{
  display: none;
}

@keyframes animateExpFrames {
  from {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0
  }
}