.content {
  background: url(../../pages/assets/images/main.png) no-repeat, linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
  height: calc(~"100vh - 130px");
  position: relative;
  background-blend-mode: darken;
  background-size: cover;

  @media (max-width: @breakpoint-small) {
    background: #fff;
    height: auto;
    padding-bottom: 60px;
  }

  &__wrap {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 0.8;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &_no-image {
    background: #F5F5F5;
    height: auto;
    padding-bottom: 40px;
    @media (max-width: @breakpoint-medium) {
      padding-bottom: 60px;
    }
  }
}


.main, .main-grid__header {
  display: flex;
  justify-content: space-between;
}


.main {
  padding: 100px 0 0;

  @media (max-width: @breakpoint-medium) {
    padding-top: 85px;
  }

  @media (max-width: @breakpoint-small) {
    flex-direction: column;
    padding-top: 45px;
  }

  &-h {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (max-width: @breakpoint-medium) {
      font-size: 30px;
    }

    @media (max-width: @breakpoint-small) {
      color: @global-color;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 35px;
    }
  }

  &-form {
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 10px;

    @media (max-width: @breakpoint-small) {
      padding: 0;
      margin: 0;
    }

    & > input {
      padding: 13px 13px 13px 0;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      outline: none;
      width: 270px;

      &::placeholder {
        color: @dom-grey-text;
      }

      @media (max-width: 900px) {
        width: 90%;
      }

    }

    & > input[type="number"] {
      margin-bottom: 0
    }

    & > span {
      color: @global-color;
      width: 400px;
      @media (max-width: @breakpoint-medium) {
        width: 330px;
      }
      @media (max-width: 1000px) {
        width: auto;
      }
      @media (max-width: @breakpoint-small) {
        padding: 0;
      }
    }

    & > span:not(:last-child) {
      margin-bottom: 20px;
    }

    & > span, & > input {
      font-size: 18px;
      @media (max-width: @breakpoint-medium) {
        font-size: 16px;
      }
    }

    & > button {
      margin-top: 35px;
    }
  }

  &_small-padding {
    padding-top: 65px;
    display: flex;
    flex-direction: column;

    @media (max-width: @breakpoint-medium) {
      padding-top: 55px;
      grid-template-columns: repeat(3, auto);
    }

    @media (max-width: @breakpoint-small) {
      padding-top: 45px;
      grid-template-columns: auto;
    }

    & > h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 45px;
      color: @global-color;
      margin-bottom: 30px;
      @media (max-width: @breakpoint-medium) {
        font-size: 24px;
        margin-bottom: 45px;
      }
      @media (max-width: @breakpoint-small) {
        margin-bottom: 20px;
      }
    }
  }

}

.main-form__wrong {
  font-size: 12px !important;
  line-height: 20px !important;
  color: #C73000 !important;
  margin: 0 !important;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;

  @media (max-width: @breakpoint-medium) {
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: @breakpoint-small) {
    grid-template-columns: auto;
    grid-gap: 40px;
  }

  &__item {
    background: #fff;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

  &__header {
    margin-bottom: 25px;
  }

  &__img {
    margin-bottom: 15px;


  }

  &__flat {
    text-align: center;
    height: 220px;
  }

  &__info {
    margin-bottom: 5px;

    & > div > p {

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      & > span {
        margin-left: 10px;
      }
    }


    & > div:not(:last-child) {
      margin-bottom: 15px;
    }


  }

  &__data {
    & > img {
      margin-right: 5px;
    }

    & > span {
      font-size: 10px;
      color: #C6C6C6;
    }
  }
}

.main-grid__img, .main-grid__info_underlined {
  &:after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    margin-top: 20px;
  }
}

.main-grid__info-margin-bottom-big {
  margin-bottom: 25px !important;
}

.main-grid__header, .main-grid__info > div {
  padding: 5px 15px 0;
}

.user-button {
  background: @dom-red-color;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  width: 130px;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  border: 3px solid @dom-red-color;

  &:hover {
    background: #fff;
    color: @dom-red-color;
  }

  @media (max-width: @breakpoint-small) {
    width: 100%;
  }

  &_white {
    background: #fff;
    color: @dom-red-color;

    &:hover {
      background: @dom-red-color;
      color: #fff;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;

  & > button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.icons {
  transition: 0.5s;

  & > a > i:hover {
    color: @dom-red-color;
  }

  & > a:not(:last-child) {
    margin-right: 30px;
  }
}

.sale {
  color: #28D919;
  font-size: 12px;
}

.user-price {
  color: @dom-red-color;
}

.muted-color {
  color: @dom-grey-text;
}

.not-uppercase {
  text-transform: none;
}

.block-static-height {
  height: 40px;
  width: 300px;
  margin-bottom: 5px;
  @media (max-width: @breakpoint-small) {
    height: auto;
    width: auto;
  }
}

.font-size-small {
  font-size: 12px;
}

.month-payment {
  display: flex;
  align-items: center;

  & > a {
    margin-left: 5px;
  }
}
