//
// Component: Slider
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================

.hook-slider() {
  & .uk-active .main-grid__item_slider {
    opacity: 1;
    transition: opacity 0.5s;
    &:before {
      display: none;
      background: none;
    }
  }
}

.hook-slider() {
}

.hook-slider-misc() {
}
